/*Main styling adding on top of tiny brutalism is inverting
the site colors and then adding a CRT filter based off of this tutorial*/
/*https://aleclownes.com/2017/02/01/crt-display.html*/
html {
  filter: invert(1);
}

/*re-invert music player*/
#music-player audio {
  filter: invert(1);
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(0, 0, 0, 0.08) 50%, rgba(18, 16, 16, 0) 100%);
  z-index: 9999;
  background-size: 100% 4px;
  pointer-events: none;
}

.crt {
  text-shadow:
    0.4px 0 1px rgba(0, 30, 255, 0.4),
   -0.4px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px currentColor;
}

/*nav button styling*/
.nav-btn {
  font-size: 16px;
}

.nav-btn.active {
  font-size: 25px;
  font-weight: bold; 
}

.nav-btn.report { color: #eb12ff; }
.nav-btn.artist { color: #1226ff; }
.nav-btn.genre { color: #1eff12; }
.nav-btn.listener { color: #ff1212; }