/*https://aleclownes.com/2017/02/01/crt-display.html*/
html {
  filter: invert(1);
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(0, 0, 0, 0.08) 50%, rgba(18, 16, 16, 0) 100%);
  z-index: 9999;
  background-size: 100% 4px;
  pointer-events: none;
}

.crt {
  text-shadow:
    0.4px 0 1px rgba(0, 30, 255, 0.4),
   -0.4px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px currentColor;
}

#music-player audio {
  filter: invert(1);
}