<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Analyzer</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
  <h1>Music Analyzer</h1>
</header>

<nav>
    <a class="nav-btn" href="/">Home</a>
    <a class="nav-btn" href="/report">Report</a>
    <a class="nav-btn" href="/queries">Queries</a>
    <a class="nav-btn" href="/visualization">Visualization</a>
</nav>

<main>
  <div class="card">
    <h2>Summary of Project</h2>
    <div class="child_card">
      <p>This is the content of the <span class="highlight">child card</span>.</p>
    </div>
    <div class="child_card">
      <p>This is the content of the second <span class="highlight">child card</span>.</p>
    </div>
  </div>
  <div class="card">
    <h2>Further Description</h2>
    <div class="child_card">
      <p>This card only contains one child card, and it contains a link to <a href="https://www.google.com/">Google</a>.</p>
    </div>
  </div>
</main>

<footer id="main-footer">
  Footer
</footer>

</body>
</html>