{% from "query_detail_macro.html" import query_details %}
{% from "navigation_macro.html" import navigation %}
{% from "list_table_macro.html" import list_table %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MetalDB</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/pruger/tiny-brutalism-css/tiny-brutalism.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class = "container crt">
  
<header>
  <h1>MetalDB</h1>
</header>

{{ navigation(current_tab = 'home') }}

<main>
  <!--IF THE USER HAS SPECIFIED THEY WANT TO SEE ALL ARTISTS-->
  <!--Display only a table from the all artist list-->
  {% if all_artists %}
  <div class="box">
    <h2>All Artists In Dataset</h2>
    <div class="box">

      <!--Table element macro-->
      {{ list_table(list = all_artists, columns = ['artist_name', 'country', 'unique_listeners', 'genre_tags'], tag_colors = tag_colors, rank = True)}}
      <!--Drop-down Query Explanation-->
      {{ query_details("get_top_artists", query_display_list) }}
    </div>
  {% else %}

  <!--IF THE USER HAS NOT SPECIFIED THEY WANT TO SEE ALL ARTISTS-->
  <!--display the standard landing page-->
  <div class="box">
    <h2>Welcome!</h2>
    <p>
      This is a term project for Applied Database Technologies at Indiana University.
      It is a flask website that uses PyMongo to query and visualize the statistics of a MongoDB Database
      constructed from surveying listener and artist data from the Listenbrainz and Musicbrainz APIs.
    </p>
    <p>
      The current source of the artist and listener data is from surveying the listeners of "seed artists" retrieved under the metal genre tag.
      So you can think of this data as representative of a sample of metal listeners, not a sample of metal artists.
    </p>
    <p>
      Genres, artists, and listeners are hyperlinked whenever possible, so you can navigate to the analysis of any data item by clicking on it's hyperlink.
      For a general overview of the data, click the  <a href="/artist", style = "color: #1226ff;">artist</a>, <a href="/genre", style = "color: #1eff12;">genre</a>, or <a href="/listener", style = "color: #ff1212;">listener</a> tabs.
      For more information, navigate to the <a href="/report", style = "color: #eb12ff;">report</a> tab. \m/...(`n`)…\m/.
    </p>
    
  </div>
  <div class="box">
    <h2>Summary Statistics</h2>
    <div class="box">
      <h3>Total # of Artists: </h3>
      {{total_num_artists}}
      <!--Drop-down Query Explanation-->
      {{ query_details("get_total_num_artists", query_display_list) }}
    </div>
    <div class="box">
      <h3>Total # of Genres: </h3>
      {{total_num_genres}}
      {{ query_details("get_total_num_genres", query_display_list) }}
    </div>
    <div class="box">
      <h3>Total # of Listeners: </h3>
      {{total_num_listeners}}
      {{ query_details("get_total_num_listeners", query_display_list) }}
    </div>
    <div class="box">
      <h3>Percent of Artists in Database Classified as Metal: </h3>
      {{percent_metal}} %
    </div>
    
  </div>
  <div class="box">
    <h2>Top 100 Artists In Dataset</h2>
    <div class="box">
      <div class="box">
        <a href="/all_artists">Show me ALL of the artists!</a> 
      </div>

      <!--List element macro-->
      {{ list_table(list = top_artists, columns = ['artist_name', 'country', 'unique_listeners', 'genre_tags'], tag_colors = tag_colors, rank = True)}}

      <!--Drop-down Query Explanation-->
      {{ query_details("get_top_artists", query_display_list) }}
    </div>
  </div>
  {%endif%}
</main>

<footer id="main-footer">Website made by Logan Field, Term Project For Applied Database Technologies</footer>

</div>

</body>
</html>