<!-- All this page does is render a markdown file to serve as
    the report section of the website. It means that formatting
    is fairly barebones, but really simplifies things.-->

{% from "navigation_macro.html" import navigation %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MetalDB \ Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/pruger/tiny-brutalism-css/tiny-brutalism.css">
    
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
<body>


<div class = "container crt">


<header>
  <h1>MetalDB \ Report</h1>
</header>

{{ navigation(current_tab = 'report') }}

<div class = "box">
  <main>
  <zero-md src="/static/report.md"></zero-md>
  </main>
</div>

<footer id="main-footer">Website made by Logan Field, Term Project For Applied Database Technologies</footer>

</div>


</body>
</html>