<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Music Analyzer Visualization</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
  <h1>Music Analyzer Visualization</h1>
</header>

<nav>
  <a class="nav-btn" href="/">Home</a>
  <a class="nav-btn" href="/report">Report</a>
  <a class="nav-btn" href="/queries">Queries</a>
  <a class="nav-btn active" href="/visualization">Visualization</a>
</nav>

<main>
  <div class="card">
    <h2>Random Scatterplot</h2>
    <div class="child_card">
      <img src="data:image/png;base64,{{ plot }}" alt="Scatterplot">
    </div>
  </div>
</main>

<footer id="main-footer">Footer</footer>

</body>
</html>